*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box:before, .box:after {
  content: " ";
  display: table;
}

.box:after {
  clear: both;
}

html, body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}

.wrapper {
  background: #fff;
  margin: 0 auto;
  width: 100%;
}



  /*** Nav ***/
 .header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin-right: 2%;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  color: #000;
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  color: #000;
  display: flex;
  float: left;
  font-size: 1.8em;
  margin-left: 2%;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

 /* Hero */
  .welcome {
    background: #000;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    position: sticky;
  }

  .box.eight-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20% 0;
    padding-top: 130px;
    width: 80%;
  }

  @media screen and (min-width: 35.5em) {
    .box.eight-column {
      padding: 15% 0;
    }
  }

  @media screen and (min-width: 47.5em) {
    .box.eight-column {
      padding: 12% 0;
    }
  }

  @media screen and (min-width: 64em) {
    .box.eight-column {
      padding: 10% 0;
      padding-top: 12%;
      width: 70%;
    }
  }

  h1 {
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
  }

  @media screen and (min-width: 64em) {
    h1 {
      font-size: 40px;
    }
  }

/* Project */
  .iconplex-cloud-storage {
    background: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
  }

.container {
  display: inline-block;
  margin: 1% 0;
  width: 80%;
}

.container-project {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 48em) {
  .container-project {
    flex-direction: row;
    align-content: center;
    width: 70%;
  }
}

  .icplx-container {
    display: flex;
    margin: 20px 0;
    align-items: center;
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 400;
  }

  .project-name {
    padding: 20px 0;
  }

  p {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    line-height: 1.2em;
    padding: 10px 0;
    width: 100%;
  }

  .project-summary {
    padding: 20px 0;
  }

  .view-button {
    padding: 20px 0;
  }

  .button {
    background: #4F4F4F;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;

    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
  }

  .img-icplx {
    display: flex;
    float: right;
    margin: 20px 0;
  }

@media screen and (min-width: 48em) {
  .laptop {
    max-width: 120%;
  }
}


  /** Bloc Jams **/
  .bloc-jams {
    background: #E5E5E5;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: sticky;
  }

  .bloc-container {
    display: flex;
    margin: 20px 0;
    align-items: center;
  }

  @media screen and (min-width: 48em) {
    .bloc-container {
      width: 50%;
    }  
  } 

  @media screen and (min-width: 64em) {
    .bloc-container {
      margin-right: 15px;
      width: 50%;
    }
  }

  .bloc-jams-box {
    display: flex;
    margin: 20px 0;
    max-width: 100%;
  }

  .bloc-jams-player {

    padding: 20px 0;
  }

@media screen and (min-width: 48em) {
  .bloc-jams-box {
    margin-left: 10%;
    width: 50%;
  }
  .bloc-jams-player {
    width: 110%;
  }
}

 /* Connect */
  .connect {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
  }

  .connect-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    vertical-align: middle;
  }

  .phrase {
    margin: 0 auto;
    padding: 20px 0;
  }

  .slogan {
    font-size: 36px;
  }

  .connect-button {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
 /* Footer */
  .footer-container {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
  }

  .column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
  }

  .hk-logo {
    width: 80%;
  }

  ul.social {
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
  }

  ul.social li {
    list-style-type: none;
  }

  ul.social li a {
    color: #fff;
    padding: 5px 4px;
  }

  .copyright-container {
    color: #fff;
    display: flex;
    font-size: 12px;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
  }

  p.copyright {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    float: center;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 0;
  }

  /** About **/
  .self-portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
  }

  .selfie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 60px;
  }

  img.resize {
    max-width: 100%;
  }

  /** About Main **/
  .about {
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: sticky;
    padding: 35px 0;
  }

  .about-title {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
  }

  .ArtToDesign {
    font-size: 30px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
  }
  .text-content {
    line-height: 1.4em;
  }

  .biography {
    font-size: 20px;
  }

@media screen and (min-width: 75em) {
  .about-title {
    width: 60%;
  }
  .about-content {
    width: 60%;
  }
}

@media screen and (min-width: 90em) {
  .about-title {
    width: 55%;
  }
  .about-content {
    width: 55%;
  }
}

  .buttons {
    justify-content: center;
    display: flex;
    flex-direction: row;
  }

  .view-button {
    margin: 20px 10px;
  }

  /** Contact **/
  .contact-hero {
    background: #E5E5E5;
    display: flex;

    justify-content: center;
    margin: 0 auto;

    position: sticky;
  }

  .contact-box.eight-column {
    color: #000;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0;
    padding-top: 100px;
    width: 80%;
  }

  h1.contact-message {
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
  }

  a.email {
    color: #d96b6b;
    text-decoration: none;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
    width: 100%;
  }

  @media screen and (min-width: 48em) {
    .contact-form {
      width: 85%;
    }
  }

  @media screen and (min-width: 90em) {
    .contact-form {
      width: 83%;
    }
  }

  .contact-form input {
    font-family: "Abel", sans-serif;
    font-size: 1em;
    border-radius: 0px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
  }
  .contact-form textarea {
    font-family: "Abel", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 30px;
    height: 200px;
  }

  .box-form {
    padding: 20px;
  }

  .send {
    display: flex;
    justify-content: center;
  }
  
  button {
    background: #4F4F4F;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
  }

  /***************************** Case Study  *****************************/
  /** IconPlex **/
  .intro {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 60px;
    margin: 0 auto;
  }

  .text-set {
    display: flex;
    flex-direction: column;
    background: #000;
    padding:30px 0;
  }

  .iconplex-logo {
    justify-content: center;
    margin: 0 auto;
    padding: 50px 0;

  }

  .phrase-box {
    display: flex;
    justify-content: center;
  }

  .CatchPhrase {

    color: #fff;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;

  }

  .preview-box {
    display: flex;
    justify-content: center;
  }

  .iconplex-preview {
    color: #fff;
    display: flex;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    margin: 25px;
    padding: 10px 0;
    text-align: center;

  }

  .iconplex-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .prototype-button {
    background: #4F4F4F;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

  }

  /** IconPlex Summary **/
  .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
  }

  .summary-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 15% 0;
    width: 80%;
  }

  @media screen and (min-width: 48em) {
    .summary-text {
      padding: 10% 0;
    }
  }

  @media screen and (min-width: 62.5em) {
    .summary-text {
      padding: 7% 0;
    }
  }

  h3.iconplex-title {
    text-align: center;
  }

  /** Problem Solution **/
  .problem-solution {
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
  }

  .problem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
  }

  .problem-title {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
  }

  .solution {
    display: flex;
    flex-direction: column;
    justify-conent: center;
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
  }

  /** Process **/
  .process {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: sticky;
  }

  .user-survey {
    margin: 0 auto;
    padding: 50px 0;
  }

  .survey {
    margin: 0 auto;
    padding: 50px 0;
    padding-top: 10px;
  }

  .user-personas {
    margin: 0 auto;
    padding: 50px 0;
  }

  .personas {
    padding: 20px 0;
  }

  @media screen and (min-width: 62em) {
    .personas {
      margin: 0 auto;
      width: 75%;
    }
  }
  .survey-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }

  .survey-data {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0;
    width: 50%;
  }

  @media screen and (min-width: 31.25em) {
    .survey-data {
      width: 40%;
    }
  }

  @media screen and (min-width: 37.5em) {
    .survey-data {
      width: 35%;
    }
  }

  @media screen and (min-width: 42em) {
    .survey-data {
      width: 30%;
    }
  }

  @media screen and (min-width: 64em) {
    .survey-data {
      flex-direction: row;
      justify-content: center;
    }
  }

  .graph {
    padding: 30px 0;
  }

  @media screen and (min-width: 62em) {
    .graph {
      margin: 7px;
    }
  }

  .competitive-analysis {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

  }

  .section-title {
    padding: 10px 0;
  }

  .comp-text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 77%;
  }

  .competitors-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 5% 0;
  }

  .competitor {
    padding: 10px 0;
    width: 77%;
    margin: 0 auto;
  }

  .user-flows {
    padding: 50px 0;
  }

  .branding {
    padding: 50px 0;
  }

  .prototype {
    padding: 50px 0;
  }

  .prototypeButton {
    margin: 0 auto;
    padding-top: 50px;
    width: 54%;
  }
  .conclusion {
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
    padding: 50px 0;
  }

  .iconplex-title {
    padding: 20px 0;
  }
}
@media screen and (min-width: 768px) {
  .box.twelve-column {
    align-items: center;
    margin: 20px 0;
    padding: 10px 0;
    width: 80%;
  }

  .logo {
    float: left;
    font-size: 36px;
    margin: 0 auto;
    margin-left: 0;
  }

  .logo a {
    color: #000;
    text-decoration: none;
  }

  .menu {
    border: 1px solid #fff;
    display: flex;
    float: right;
    margin: 0;
    text-decoration: none;
    padding: 10px 0;
  }

  .menu li {
    list-style-type: none;
  }

  .menu li a {
    color: #000;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
  }

  .welcome {
    padding: 100px 0;
    padding-top: 150px;
  }

  .box.eight-column {
    padding: 50px 0;
    width: 65%;
  }

  h1 {
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-size: 35px;
  }

  /* Project */
  .iconplex-cloud-storage {
    background: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
  }

  .container.container-project {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
  }


  .icplx-container {
    display: flex;
    margin: 20px 0;
    align-items: center;
  }

  .content {
    margin: 50px 0;
    padding: 20px 0;
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 400;
  }

  .project-name {
    padding: 20px 0;
  }

  p {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    line-height: 1.2em;
    padding: 10px 0;
    width: 100%;
  }

  .project-summary {
    padding: 20px 0;
  }

  .view-button {
    padding: 20px 0;
  }

  .button {
    background: #4F4F4F;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;

    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
  }

  .img-icplx {
    display: flex;
    float: right;
    margin: 20px 0;
  }

  .img-box {
    margin: 50px 0;
    padding: 20px 0;
  }

  .laptop {
    max-width: 120%;
  }

  /** Bloc Jams **/
  .bloc-jams {
    background: #E5E5E5;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: sticky;
  }

  .bloc-container {
    display: flex;
    margin: 20px 0;
    align-items: center;
  }

  .bloc-jams-box {
    display: flex;
    margin: 20px 0;
    max-width: 50%;
  }

  .bloc-jams-player {
    margin: 50px 0;
    margin-left: 40px;
    padding: 20px 0;
    max-width: 100%;
  }

  /* Connect */
  .connect {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
  }

  .connect-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    vertical-align: middle;
  }

  .phrase {
    margin: 0 auto;
    padding: 20px 0;
  }

  .slogan {
    font-size: 42px;
  }

  .connect-button {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  /* Footer */
  .footer-container {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
  }

  .column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
  }

  .hk-logo {
    width: 100%;
  }

  ul.social {
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
  }

  ul.social li {
    list-style-type: none;
  }

  ul.social li a {
    color: #fff;
    padding: 5px 4px;
  }

  .copyright-container {
    color: #fff;
    display: flex;
    font-size: 12px;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
  }

  p.copyright {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    float: center;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 0;
  }

  /** About **/
  .self-portrait {
    background: ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
  }

  .selfie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: center;
  }

  img.resize {
    max-width: 300%;
  }

  .bottom-left {
    color: #fff;
    position: absolute;
    bottom: 20%;
  }

  .bottom-left2 {
    color: #fff;
    position: absolute;
    bottom: 1%;
  }

  /** About Main **/
  .about {
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: sticky;
    padding: 35px 0;
  }

  .about-title {
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .about-content {
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
  }
  .text-content {
    line-height: 1.4em;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  .view-button {
    margin: 25px 15px;
  }

  /** Contact **/
  .contact-hero {
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 100px 0;
    position: sticky;
  }

  .contact-box.eight-column {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 70px;
    width: 50%;
  }

  h1.contact-message {
    color: #000;
    font-family: 'Oswald', sans-serif;
  }

  p.contact-p {
    line-height: 1.5;
  }

  a.email {
    color: #d96b6b;
    text-decoration: none;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
    width: 53%;
  }

  .contact-form input {
    font-family: "Abel", sans-serif;
    font-size: 1em;
    border-radius: 0px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
  }
  .contact-form textarea {
    font-family: "Abel", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 30px;
    height: 200px;
  }

  .box-form {
    padding: 20px;
  }

  /***************************** Case Study  *****************************/
  /** IconPlex **/
  .intro {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 100px;
  }

  .iconplex-image {
    justify-content: center;
    margin: 0 auto;
  }

  img.iconplex-cover {

  }
  .phrase-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .CatchPhrase {
    color: #fff;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;

  }

  .preview-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
  }

  .iconplex-preview {
    color: #fff;
    display: flex;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: center;

    text-align: center;

    width: 75%;
  }


  .iconplex-button {
    display: flex;
    justify-content: center;
  }

  .prototype-button {
    background: #4F4F4F;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 40px;

    text-align: center;
    text-decoration: none;
    vertical-align: middle;

  }

  /** IconPlex Summary **/
  .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
    padding-top: 80px;
  }

  h3.iconplex-title {
    text-align: center;
  }

  /** Problem Solution **/
  .problem-solution {
    background: #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
  }

  .problem {
    margin: 20px 0;
    margin-left: 30px;
    margin-right: 20px;
    padding: 50px 0;
    width: 37.5%;
  }

  .problem-title {
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
  }
  .solution {
    margin: 20px 0;
    margin-left: 50px;
    margin-right: 30px;
    padding: 50px 0;
    width: 37.5%;
  }
  /** Process **/
  .process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
  }

  .user-survey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .survey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .survey-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

  }

  .survey-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-content: flex-start;
    width: 85%;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .survey-data.bigger-screen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding: 20px 0;
    justify-content: space-between;
    width: 100%;
  }

  .graph {
    padding: 20px 0;
  }

  .user-personas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

  }

  .personas {
    display: flex;
    padding: 20px 0;
  }

  .competitive-analysis {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
  }

  .comp-text {
    margin: 0 auto;
    padding: 20px 0;
    width: 34%;
  }

  .competitors-logos {
    margin: 0 auto;
    padding: 20px 0;
  }

  img.competitor {
    padding: 50px 0;
    max-width: 80%;
  }

  .user-flows {
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .userflows-img {
    margin: 0 auto;
    padding: 20px 0;
  }

  .section-title {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
  }

  .wireframes {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
  }

  .wireframes-img {
    justify-content: center;
    margin: 0 auto;
  }

  .branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .style-guide {
    margin: 0 auto;
  }

  .user-testing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .user-preferences {
    margin: 0 auto;
  }

  .prototype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .protoype-images {
    justify-content: center;
    margin: 0 auto;
  }

  .prototype-img {
    justify-content: center;
    margin: 0 auto;
  }

  .prototypeButton {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0;
  }
  .conclusion {
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: sticky;
    padding: initial;
  }
  .conclusion-text {
    padding: 40px 0;
  }
  .conclusion-h {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .conclusion-p {
    padding: 20px 0;
  }
}
