*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 481px) {
  .mobile-header {
    visibility: hidden;
  }


html, body {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  background: #fff;
}

img {
  max-width: 100%;
}

.wrapper {
  background: #fff;
  height: 100%;
  margin: 0 auto;
}

/*** Nav ***/
.header {
  background: #fff;
  color: #000;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  justify-content: center;
  margin: 0 auto;
  height: 100px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.mobile-header {
  background: #fff;
  color: #000;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  justify-content: center;
  margin: 0 auto;
  height: 100px;
  position: fixed;
  z-index: 1;
  width: 50%;
}

.box.twelve-column {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px 0;
  width: 80%;
}

.mobile-box {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px 0;
}

.logo {
  float: left;
  font-size: 36px;
  margin: 0 auto;
  margin-left: 0;
}

.logo a {
  color: #000;
  text-decoration: none;
}

.menu {
  border: 1px solid #fff;
  display: flex;
  float: right;
  margin: 0;
  justify-content: space-around;
  text-decoration: none;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  color: #000;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
}


.box:before, .box:after {
  content: " ";
  display: table;
}

.box:after {
  clear: both;
}

/* Hero */
.welcome {
  background: #000;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 100px 0;
  padding-top: 150px;
  position: sticky;
}

.box.eight-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
  width: 65%;
}

h1 {
  color: #fff;
  font-family: 'Abel', sans-serif;
  font-size: 35px;
}

/* Project */
.iconplex-cloud-storage {
  background: #fff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: sticky;
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
}

.icplx-container {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.content {
  margin: 50px 0;
  padding: 20px 0;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.project-name {
  padding: 20px 0;
}

p {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  padding: 10px 0;
  width: 100%;
}

.project-summary {
  padding: 20px 0;
}

.view-button {
  padding: 20px 0;
}

.button {
  background: #4F4F4F;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;

  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.img-icplx {
  display: flex;
  float: right;
  margin: 20px 0;
}

.img-box {
  margin: 50px 0;
  padding: 20px 0;
}

/** Bloc Jams **/
.bloc-jams {
  background: #E5E5E5;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: sticky;
}

.bloc-container {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

#bloc-jams-box {
  display: flex;
  float: right;
  margin: 20px 0;
}

#bloc-jams-player {
  float: right;
  margin: 50px 0;
  margin-right: 40px;
  padding: 20px 0;
  max-width: 60%;
}

/* Connect */
.connect {
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: sticky;
}

.connect-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  vertical-align: middle;
}

.phrase {
  margin: 0 auto;
  padding: 20px 0;
}

.slogan {
  font-size: 42px;
}

.connect-button {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

/* Footer */
#footer {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  position: absolute;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 30px;
}

ul#social {
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
}

ul#social li {
  list-style-type: none;
}

ul#social li a {
  color: #fff;
  padding: 5px 4px;
}

.copyright-container {
  color: #fff;
  display: flex;
  font-size: 12px;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

p.copyright {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  float: center;
  font-size: 16px;
  margin: 0 auto;
  padding: 10px 0;
}

/** About **/
.self-portrait {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: sticky;
}

.selfie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: center;
}

img.resize {
  max-width: 300%;
}

.bottom-left {
  color: #fff;
  position: absolute;
  bottom: 20%;
}

.bottom-left2 {
  color: #fff;
  position: absolute;
  bottom: 1%;
}

/** About Main **/
.about {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: sticky;
  padding: 35px 0;
}

#about-title {
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#about-content {
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
}
.text-content {
  line-height: 1.4em;
}

.buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 auto;
}

.buttons.view-button {
  margin: 0 auto;
  padding: 20px 0;
}

/** Contact **/
.contact-hero {
  background: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 100px 0;
  position: sticky;
}

.contact-box.eight-column {
  color: #000;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 50px;
}

h1.contact-message {
  color: #000;
}

a.email {
  color: #000;
  text-decoration: none;
}

.contact-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
}

input[type=text], select, textarea {
  width: 300%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

/** IconPlex **/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: sticky;
  top: 100px;
}

.iconplex-cover {

}
.CatchPhrase {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: sticky;
}

.problem-solution {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: sticky;
}

.process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: sticky;
}

.conclusion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: sticky;
}
